body {
    background-color: #111827;
    color: #f3f4f6;
    font-family: Arial, sans-serif;
    /* Centering content with max width */
    max-width: 900px;
    margin: auto;
    /* Spacing content a bit more */
    padding: 32px;
    line-height: 1.5;
}

header {
    /* Flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Spacing content a bit more */
    margin-bottom: 80px;
}

#title-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

#title-card img {
    /* Making the image circular */
    border-radius: 50%;
}