body {
    background-color: #111827;
    color: #f3f4f6;
    font-family: Arial, sans-serif;
    /* Centering content with max width */
    max-width: 900px;
    margin: auto;
    /* Spacing content a bit more */
    padding: 32px;
    line-height: 1.5;
}

header {
    /* Flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Spacing content a bit more */
    margin-bottom: 80px;
    font-weight: bold;
}

#title-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

#title-card img {
    /* Making the image circular */
    border-radius: 50%;
}

nav ul {
    /* Flex container */
    display: flex;
    gap: 24px;
    /* Take off the bulletpoints */
    list-style: none;
}

nav a {
    color: #9ca3af;
    /* No underline */
    text-decoration: none;
}

#intro {
    margin-bottom: 80px;
}

h2 {
    color: #60a5fa;
    font-size: 64px;
    margin-bottom: 80px;
}

.projects-container {
    display: flex;
    gap: 24px;
}

article {
    /* Making the articles look like cards */
    border: 1px solid #374151;
    border-radius: 10px;
    padding: 24px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.project-description {
    color: #9ca3af;
}